# Explore NASA Exoplanet Data 

> J. Colliander  
> 2022-06-08 (at [3rd Jack Eddy Symposium](https://cpaess.ucar.edu/meetings/eddy-symposium-2022)).

The NASA Exoplanet Institute at Caltech hosts the [NASA Exoplanet Archive](https://exoplanetarchive.ipac.caltech.edu/). This resource provides the data on known exoplanets and mobilizes this data with an [applied programming interface (API)](https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html). The [API Queries](https://exoplanetarchive.ipac.caltech.edu/docs/API_queries.html) page provides example calls. 

The goals for this short notebook: 

+ ingest NASA Exoplanet data via API
+ transform data into Pandas Dataframe
+ start exploration of data

In [1]:
# gather some tools
import pandas as pd

In [2]:
# This line reads in the data (as rendered in CSV format) from the Archive's API into a Pandas dataframe.
# Current version of this call generates an error message that I choose to ignore for now...
df = pd.read_csv('https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+*+from+ps&format=csv')

/tmp/ipykernel_1078/2515563528.py:3: DtypeWarning: Columns (50,65,148,153,183,187,206,211,237,242) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+*+from+ps&format=csv')

In [3]:
# Dump the data into a table
df

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagerr1,sy_jmagerr2,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2
0,Kepler-11 c,c,Kepler-11,NaN,NaN,TIC 169175503,Gaia DR2 2076960598545789824,0,<a refstr=LISSAUER_ET_AL__2011 href=https://ui...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,0.024,-0.024,12.548&plusmn;0.024,12.237,0.024,-0.024,12.237&plusmn;0.024,12.180,0.020,-0.020
1,Kepler-11 f,f,Kepler-11,NaN,NaN,TIC 169175503,Gaia DR2 2076960598545789824,0,<a refstr=LISSAUER_ET_AL__2011 href=https://ui...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,0.024,-0.024,12.548&plusmn;0.024,12.237,0.024,-0.024,12.237&plusmn;0.024,12.180,0.020,-0.020
2,OGLE-TR-10 b,b,OGLE-TR-10,NaN,NaN,TIC 130150682,Gaia DR2 4056443366649948160,1,<a refstr=TORRES_ET_AL__2008 href=https://ui.a...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,NaN,NaN,13.692,13.314,0.121,-0.121,13.314&plusmn;0.121,12.856,NaN,NaN
3,HD 210702 b,b,HD 210702,HD 210702,HIP 109577,TIC 456826468,Gaia DR2 1775004778213735168,0,<a refstr=BOWLER_ET_AL__2010 href=https://ui.a...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,0.320,-0.320,4.508&plusmn;0.320,3.995,0.226,-0.226,3.995&plusmn;0.226,3.984,0.294,-0.294
4,BD-08 2823 b,b,BD-08 2823,NaN,HIP 49067,TIC 33355302,Gaia DR2 3770419611540574080,0,<a refstr=HEBRARD_ET_AL__2010 href=https://ui....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,0.020,-0.020,7.96&plusmn;0.02,7.498,0.047,-0.047,7.498&plusmn;0.047,7.323,0.021,-0.021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32537,Kepler-381 c,c,Kepler-381,NaN,NaN,TIC 164884235,Gaia DR2 2105835281411929728,0,<a refstr=Q1_Q17_DR25_KOI_TABLE href=https://e...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,0.020,-0.020,9.721&plusmn;0.020,9.547,0.018,-0.018,9.547&plusmn;0.018,9.504,0.014,-0.014
32538,Kepler-1851 b,b,Kepler-1851,NaN,NaN,TIC 352013607,Gaia DR2 2106494580370491392,1,<a refstr=VALIZADEGAN_ET_AL__2021 href=https:/...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,0.039,-0.039,14.524&plusmn;0.039,14.141,0.043,-0.043,14.141&plusmn;0.043,13.962,0.052,-0.052
32539,KMT-2017-BLG-2509L b,b,KMT-2017-BLG-2509L,NaN,NaN,NaN,NaN,1,<a refstr=HAN_ET_AL__2021 href=https://ui.adsa...,<a refstr=HAN_ET_AL__2021 href=https://ui.adsa...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32540,OGLE-2017-BLG-1099L b,b,OGLE-2017-BLG-1099L,NaN,NaN,NaN,NaN,1,<a refstr=HAN_ET_AL__2021 href=https://ui.adsa...,<a refstr=HAN_ET_AL__2021 href=https://ui.adsa...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32541,OGLE-2019-BLG-0299L b,b,OGLE-2019-BLG-0299L,NaN,NaN,NaN,NaN,1,<a refstr=HAN_ET_AL__2021 href=https://ui.adsa...,<a refstr=HAN_ET_AL__2021 href=https://ui.adsa...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,default_flag,disc_year,ra,dec,glon,glat,elon,elat,pl_orbper,pl_orbpererr1,...,sy_vmagerr2,sy_jmag,sy_jmagerr1,sy_jmagerr2,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2
count,32542.000000,32542.000000,32542.000000,32542.000000,32542.000000,32542.000000,32542.000000,32542.000000,2.973400e+04,2.849300e+04,...,32150.000000,32121.000000,32042.000000,32042.000000,32150.000000,32033.000000,32033.000000,32147.000000,31939.000000,31939.000000
mean,0.154723,2015.023539,270.195183,35.027630,97.241498,10.924461,284.021055,51.667717,1.422433e+04,1.668666e+04,...,-0.123051,12.264786,0.029814,-0.029576,11.884567,0.031071,-0.030926,11.799573,0.035792,-0.035218
std,0.361646,3.488738,61.797283,23.854925,63.911938,18.547882,65.967952,30.585650,2.332177e+06,2.784470e+06,...,0.188271,2.183902,0.132986,0.125557,2.196710,0.090701,0.093511,2.211296,0.189299,0.179215
min,0.000000,1989.000000,0.185606,-88.121111,0.039250,-88.324780,0.444070,-87.163720,9.070629e-02,0.000000e+00,...,-12.270000,-2.095000,0.017000,-8.888000,-2.775000,0.014000,-8.990000,-3.044000,0.011000,-11.140000
25%,0.000000,2014.000000,284.828058,39.249173,73.449890,9.768330,296.602810,59.669900,4.662719e+00,9.340000e-06,...,-0.137000,11.590000,0.022000,-0.027000,11.222000,0.021000,-0.031000,11.155000,0.020000,-0.035000
50%,0.000000,2016.000000,290.248102,43.050038,77.007960,12.892960,305.428530,63.526280,1.099470e+01,4.125000e-05,...,-0.092000,12.871000,0.024000,-0.024000,12.496000,0.025000,-0.025000,12.407000,0.025000,-0.025000
75%,0.000000,2016.000000,294.614791,46.726681,80.843820,16.411820,313.243740,66.948120,2.750868e+01,2.028000e-04,...,-0.057000,13.719000,0.027000,-0.022000,13.300000,0.031000,-0.021000,13.234000,0.035000,-0.020000
max,1.000000,2022.000000,359.974984,85.736533,359.996270,86.470460,359.901170,87.182910,4.020000e+08,4.700000e+08,...,-0.001000,25.340000,8.888000,-0.017000,33.830000,6.990000,-0.014000,35.330000,9.995000,-0.011000

In [5]:
HostStars = pd.read_json('https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+distinct+hostname+from+ps+order+by+hostname+asc&format=json')

In [6]:
HostStars

      hostname
0       11 Com
1       11 UMi
2       14 And
3       14 Her
4     16 Cyg B
...        ...
3770   tau Cet
3771   tau Gem
3772   ups And
3773   ups Leo
3774    xi Aql

[3775 rows x 1 columns]

In [7]:
SinglePlanetarySolutions = pd.read_json('https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+*+from+pscomppars&format=json')

In [8]:
SinglePlanetarySolutions.columns

Index(['pl_name', 'pl_letter', 'hostname', 'hd_name', 'hip_name', 'tic_id',
       'disc_pubdate', 'disc_year', 'discoverymethod', 'disc_locale',
       ...
       'sy_pmstr', 'sy_pm_reflink', 'sy_pmra', 'sy_pmraerr1', 'sy_pmraerr2',
       'sy_pmrastr', 'x', 'y', 'z', 'htm20'],
      dtype='object', length=373)

In [9]:
SinglePlanetarySolutions.describe()

,disc_year,ra,dec,glon,glat,elon,elat,pl_orbper,pl_orbpererr1,pl_orbpererr2,...,sy_pm,sy_pmerr1,sy_pmerr2,sy_pmra,sy_pmraerr1,sy_pmraerr2,x,y,z,htm20
count,5035.000000,5035.000000,5035.000000,5035.000000,5035.000000,5035.000000,5035.000000,4.867000e+03,4.377000e+03,4.377000e+03,...,4887.000000,4884.000000,4870.000000,4887.000000,4884.000000,4870.000000,5035.000000,5035.000000,5035.000000,5.035000e+03
mean,2015.442701,240.958811,21.706373,127.938011,7.009003,251.494434,33.091310,8.645106e+04,1.085887e+05,-2.402073e+04,...,100.789773,0.173303,-0.171665,10.943209,0.175484,-0.173328,0.120170,-0.362206,0.341133,4.710252e+07
std,4.202233,88.144619,34.059262,92.047449,27.863722,92.571857,42.099059,5.764398e+06,7.104319e+06,1.512570e+06,...,358.830489,0.644031,0.643132,289.224983,0.646237,0.643208,0.443836,0.517565,0.522758,1.267325e+09
min,1989.000000,0.185606,-88.121111,0.039250,-88.324780,0.444070,-87.163720,9.070629e-02,0.000000e+00,-1.000000e+08,...,0.158639,0.017492,-8.000000,-3781.310000,0.014895,-8.000000,-0.999390,-0.999976,-0.999462,-2.145840e+09
25%,2014.000000,192.580917,-2.105242,73.927970,3.819520,201.511990,-2.568270,4.467694e+00,1.600000e-05,-1.428000e-03,...,7.760034,0.039905,-0.073743,-8.869035,0.039050,-0.078768,0.022936,-0.692006,-0.036735,-1.035475e+09
50%,2016.000000,286.999476,40.548388,79.068480,12.116360,300.520040,60.343940,1.155103e+01,1.000000e-04,-1.000000e-04,...,16.588369,0.051459,-0.051407,-1.137820,0.052132,-0.051896,0.236552,-0.628725,0.650090,4.186393e+06
75%,2018.000000,293.822755,45.614334,189.098825,17.292040,311.618960,65.687930,3.946718e+01,1.431000e-03,-1.600000e-05,...,51.172173,0.074230,-0.039860,6.143395,0.079129,-0.038939,0.310958,-0.096003,0.714648,1.201603e+09
max,2022.000000,359.974984,85.736533,359.996270,86.470460,359.901170,87.182910,4.020000e+08,4.700000e+08,-0.000000e+00,...,8644.904613,8.000000,-0.017492,6767.260000,8.000000,-0.014895,0.997391,0.998079,0.997233,2.146307e+09